// Additional Styles --------------------------

// Container Styles -----
.container-light {
    @apply relative;
    @apply border-2;
    @apply rounded-xl;
    @apply border-light;
    @apply bg-light;
}

.container-dark {
    @apply rounded-xl;
    @apply border-background-light;
    @apply bg-background-light;
}

.container-ultra-dark {
    @apply relative;
    @apply border-2;
    @apply rounded-xl;
    @apply border-background;
    @apply bg-background;
}

// Card -----
// make whole card focusable when a-tag is only inside
@mixin card {
    a::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &:focus-within {
        outline: 5px solid #fff;
    }

    &:focus-within a:focus {
        outline: none;
    }
}

.card-smaller {
    @include card;

    &:focus-within {
        outline: 3px solid #fff;
    }
}

.card {
    @include card;
}

// Scroll-Overlay -----
.scroll-smooth {
    scroll-behavior: smooth;
}

// Code Level -----
.instruction-text p {
    @apply mt-0;
    @apply mb-4;
    @apply inline-block;
}

// Reduced Motion ---
@media (prefers-reduced-motion: no-preference) {
    :focus {
        transition: outline-offset 0.25s ease;
        outline-offset: 5px;
    }
}

// Focus Styles ---
*:focus {
    @apply outline-light;
    @apply outline-3;
    @apply outline;
    @apply outline-offset-0;
    @apply transition-none;
}

// Polyfill
// This will hide the focus indicator if the element receives focus via the mouse,
// but it will still show up on keyboard focus.
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.focus-rounded-instead-of-underline {
    @apply focus:rounded;
    @apply focus:border-transparent;
    @apply focus:outline-offset-4;
}
