@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    // Base Styles --------------------------
    html {
        scroll-behavior: smooth;
    }

    :target:before {
        content: "";
        display: block;
        height: 80px;
        margin: -80px 0 0;
    }

    html body {
        @apply font-sans;
        @apply tracking-wide;
        @apply break-words;
        @apply bg-background;
        @apply text-grey;
    }

    * {
        @apply box-border;
        @apply m-0;
    }

    @media (prefers-reduced-motion: no-preference) {
        :focus {
            transition: outline-offset 0.25s ease;
            outline-offset: 5px;
        }
    }

    *:focus {
        outline: 2px solid #fff;
        outline-offset: 2px;
    }

    *:focus-visible {
        // focus styles for keyboard only
        outline: 0.15rem solid #fff;
    }

    *:focus:not(:focus-visible) {
        // focus styles for mouse & touch
        outline: none;
        // box-shadow: 0 0 0 0.15rem #fff;
        // TODO: add polyfill for browsers that do not support focus-within
    }

    .focus-visible-outline {
        gap: 2ch;

        &:focus-visible {
            outline: 0.15rem solid #fff;
        }

        &:focus-visible a:focus {
            outline: none;
        }
    }

    .focus-visible-boxShadow {
        gap: 2ch;

        &:focus-visible {
            box-shadow: 0 0 0 0.25rem #fff;
        }

        &:focus-visible a:focus,
        &:focus {
            outline: none;
        }
    }

    h1,
    .h1 {
        @apply text-7xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
    h2,
    .h2 {
        @apply text-5xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
    h3,
    .h3 {
        @apply text-4xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
    h4,
    .h4 {
        @apply text-2xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
    h5,
    .h5 {
        @apply text-xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
    h6,
    .h6 {
        @apply text-base;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }

    p,
    span,
    ul,
    li {
        @apply text-base;
        @apply text-grey;
    }

    p,
    ul,
    li {
        @apply mb-4;
    }

    p,
    span,
    li,
    address {
        @apply max-w-80ch;
    }

    span {
        @apply m-0;
    }

    a {
        @apply text-base;
        @apply font-bold;
        @apply text-primary;
        @apply border-b-2;
        @apply border-transparent;
        @apply transition-colors;
        @apply max-w-80ch;

        &:hover {
            @apply text-light;
            @apply border-light;
        }
        &:active {
            @apply text-light;
        }
        &:focus {
            @apply text-light;
        }
    }
}
