@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    // Other Global Styles ---
    .h1 {
        @apply text-7xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
    .h2 {
        @apply text-5xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
        @apply leading-snug;
    }
    .h3 {
        @apply text-4xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
    .h4 {
        @apply text-2xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
    .h5 {
        @apply text-xl;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
    .h6 {
        @apply text-base;
        @apply font-bold;
        @apply text-grey;
        @apply max-w-80ch;
    }
}

@layer base {
    // Base Styles --------------------------
    html {
        scroll-behavior: smooth;
    }

    :target:before {
        content: "";
        display: block;
        height: 80px;
        margin: -80px 0 0;
    }

    html body {
        @apply font-sans;
        @apply tracking-wide;
        @apply break-words;
        @apply bg-background;
        @apply text-grey;
    }

    * {
        @apply box-border;
        @apply m-0;
    }

    // Other Global Styles ---
    h1 {
        @apply h1;
    }
    h2 {
        @apply h2;
    }
    h3 {
        @apply h3;
    }
    h4 {
        @apply h4;
    }
    h5 {
        @apply h5;
    }
    h6 {
        @apply h6;
    }

    h1 span,
    h2 span,
    h3 span,
    h4 span,
    h5 span,
    h6 span {
        font-size: inherit;
        line-height: inherit;
    }

    p,
    span,
    ul,
    li {
        @apply text-base;
        @apply text-grey;
    }

    p,
    ul,
    li {
        @apply mb-4;
    }

    p,
    span,
    li,
    address {
        @apply max-w-80ch;
    }

    span {
        @apply m-0;
    }

    a {
        @apply text-base;
        @apply font-bold;
        @apply text-primary;
        @apply border-b-2;
        @apply border-transparent;
        @apply transition-colors;
        @apply max-w-80ch;

        &:hover {
            @apply text-light;
            @apply border-light;
        }
        &:active {
            @apply text-light;
        }
        &:focus {
            @apply text-light;
        }

        & span {
            @apply text-inherit;
        }
    }
}
