version: "3"

services:
  api:
    image: ghcr.io/a11yphant/api:${IMAGE_TAG:-develop}
    environment:
      DB_URL: postgresql://a11yphant:secret@postgres:5432/a11yphant
      AWS_ACCESS_KEY_ID: mock_access_key
      AWS_SECRET_ACCESS_KEY: mock_secret_key
      API_HOST: 0.0.0.0
      API_PORT: 3000
      API_KEY: please-generate-a-secret-key-for-production
      API_CHALLENGES_LOCATION: "../../challenges"
      API_MESSAGING_RABBITMQ_URL: "amqp://user:secret@rabbitmq:5672"
      API_MESSAGING_CONSUME_QUEUE_NAME: "api"
      API_MESSAGING_PUBLISH_QUEUE_NAME: "submission-checker"
    ports:
      - 3000:3000
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  site:
    image: ghcr.io/a11yphant/site:${IMAGE_TAG:-develop}
    entrypoint: ""
    command: npm start
    environment:
      SITE_HOST: 0.0.0.0
      SITE_PORT: 3001
      SITE_GRAPHQL_ENDPOINT_SERVER: http://api:3000/graphql
      SITE_GRAPHQL_ENDPOINT_CLIENT: http://localhost:3000/graphql
    ports:
      - 3001:3001
    depends_on:
      api:
        condition: service_started
      submission-checker:
        condition: service_started
