// Fonts --------------------------

/* ibm-plex-sans-regular - latin */
@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/ibm-plex-sans/ibm-plex-sans-regular.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/ibm-plex-sans/ibm-plex-sans-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/ibm-plex-sans/ibm-plex-sans-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/ibm-plex-sans/ibm-plex-sans-regular.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/ibm-plex-sans/ibm-plex-sans-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/ibm-plex-sans/ibm-plex-sans-regular.svg#IBMPlexSans") format("svg"); /* Legacy iOS */
}
/* ibm-plex-sans-500 - latin */
@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/ibm-plex-sans/ibm-plex-sans-500.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/ibm-plex-sans/ibm-plex-sans-500.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/ibm-plex-sans/ibm-plex-sans-500.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/ibm-plex-sans/ibm-plex-sans-500.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/ibm-plex-sans/ibm-plex-sans-500.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/ibm-plex-sans/ibm-plex-sans-500.svg#IBMPlexSans") format("svg"); /* Legacy iOS */
}

/* ibm-plex-sans-700 - latin */
@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/ibm-plex-sans/ibm-plex-sans-700.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/ibm-plex-sans/ibm-plex-sans-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/ibm-plex-sans/ibm-plex-sans-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/ibm-plex-sans/ibm-plex-sans-700.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/ibm-plex-sans/ibm-plex-sans-700.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/ibm-plex-sans/ibm-plex-sans-700.svg#IBMPlexSans") format("svg"); /* Legacy iOS */
}
/* ibm-plex-mono-regular - latin */
@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-regular.svg#IBMPlexMono")
            format("svg"); /* Legacy iOS */
}
/* ibm-plex-mono-700 - latin */
@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-700.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-700.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/ibm-plex-mono/ibm-plex-mono-v6-latin-700.svg#IBMPlexMono") format("svg"); /* Legacy iOS */
}
