<p>Hey there,</br> a password reset has been requested for your account.</p>
<p>To reset your password, please follow the link below. This link is valid for 24 hours.</p>

 <a href="{{ passwordResetLink }}">Reset your password</a>

<p>Best regards,<br>The a11yphant team</p>
